<!-- Generated template for the PopoverComponent component -->
<ion-list>
  <ion-item *ngFor="let langue of langues" (click)="itemClick(langue)" class="langue">
{{langue.langue}}
  </ion-item>
</ion-list>
