<ion-content padding>

  <div class="parentQuestion">
    <h2>{{question}}</h2>
  </div>

  <div class="parentQuestion">
    <ion-grid>
      <ion-row justify-content-center>
          <ion-col col-4 *ngFor="let img of images">
            <button><img src="../../assets/imgs/{{img.image}}"></button>
          </ion-col>
      </ion-row> 
    </ion-grid>
  </div>

  <div class="parentBouton">
      <button ion-button color="dark" icon-start class="Validation" id="boutonValider" (click)="getConfirmedReponse()">
          Valider
      </button>
  </div>

  <div class="parentBouton">
    <button ion-button color="dark" icon-start class="navigationQuestion" id="boutonPrecedent" (click)="getQuestionPrecedente()"> <!-- Les boutons de navigation entre les questions -->
      <ion-icon name='arrow-back'></ion-icon>
      Précédente
    </button>
    
    <button ion-button color="light" icon-end class="navigationQuestion" id="boutonSuivant" (click)="getQuestionSuivante()">
      Suivante
      <ion-icon name='arrow-forward'></ion-icon>
    </button>
  </div>
  
  
</ion-content>
