page-question {

}

h2{
    text-align: center;
}
.navigationQuestion{
    background-color: #7f2729;
    color: white;
}

#boutonSuivant{
    margin-left: 10%;
}

// Le fond derriere la liste des questions mis a transparent ( sinon fond blanc )
.question{                       
    background-color: transparent;
    text-align: center;
}

.headerTitle{
    margin-top: 1%;
}
// Sert a centrer les question au centre de l'application
.parentQuestion{
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

// sert a centrer les boutons
.parentBouton{
    display: flex;
    align-items: center;
    justify-content: center;
}



