<ion-header>
  <ion-navbar>
    <ion-title >
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>	
    <ion-icon name="arrow-round-back" (click)="questionPrecedente()"></ion-icon>
    <ion-icon name="arrow-round-forward" (click)="questionSuivante()"></ion-icon>

    <div id="intiluleQuestion"></div>
    <div id="lesReponsesQuestion"></div>


</ion-content>


   
  
