nic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Liberez Alice</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <video width='320' height='240' controls src='../../assets/videos/{{video}}' type='video/mp4'></video>
  <h1>{{bilan}}</h1>
<h1>Cota de bonne réponse : {{cota}} %</h1>
</ion-content>
