page-home {

    *{
        margin: 0;
        padding: 0;
    }

    #bas{
        position: fixed;
        position: left;
        bottom:0px;
    }

    #wrapper-alice{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
       
    .Alice_Logo{
        margin: auto;
        height: auto;
        width: 70%;
        align-items: center;
    }


    #wrapper_seigneurial_logo{
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5%;
    }

    #wrapper-center{
        width: 50%;
    }

    #titre-accueil{
        
        font-family: 'contb';
        text-align: center;
        color: #7f2729;
        margin-top: 5%;
        margin-bottom: 2%;
        font-size: 150%;
        font-weight: 900;
    }
    
    .button{
        background-color: #7f2729;
        color: white;
    }

    .langues{
        border-radius: 8px;
        background-color: #7f2729;
        padding: 7px;
        color: white;
        margin-left: 55%;
    }

    .commencez{
        
        margin-bottom: 10%;
    }
        
    

   

}


