<ion-header>
  <ion-navbar>
    <ion-title>
      Libérez Alice
      <button class="langues" (click)="presentPopover($event)">Langues</button>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    
  <img class="Barre" src="../../assets/imgs/Barre.png"> <!-- Image de la barre horizontale ( haut )-->
  <div id="wrapper_seigneurial_logo"> <!-- image du manoir seigneurial Fraser -->
    <div id="wrapper-center">
      <img id="Fraser" src="../../assets/imgs/Manoir-Seigneurial-Fraser_logo.png">
    </div>
  </div>
  <h1 id="titre-accueil">Libérez le fantôme d'Alice</h1>
  <div id="box-alice">                <!-- L'image d'acceuil d'Alice -->
    <div id="wrapper-alice">
        <img class="Alice_Logo" src="../../assets/imgs/Alice.png" alt="Alice Logo">
    </div>

    <button class="commencez" ion-button full (click)="goToQuestions()">Commencez</button>
  </div>
  <img class="Barre" id="bas" src="../../assets/imgs/Barre2.png">  <!-- Image de la barre horizontale ( bas ) -->  

</ion-content>
