// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";



$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);




@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

/*@font-face {
  font-family: 'arial_narrow_7';
  src: url('../../src/assets/fonts/arial_narrow/arial_narrow_7.ttf');
}

$font-family-ios-base: arial_narrow_7  !important;
$font-family-md-base: arial_narrow_7 !important;
$font-family-wp-base: arial_narrow_7 !important;*/

@import "roboto";
@import "noto-sans";

$font-family-md-base: "oswald" !important;
$font-family-ios-base: "oswald" !important;
$font-family-wp-base: "oswald" !important;



