// http://ionicframework.com/docs/theming/

@font-face{
    font-family: 'contb';
    src: url('../assets/fonts/contb/contb.ttf') format('ttf');
    font-weight: 900;
    
}

ion-content{
    background-image: url("../assets/imgs/Background.png");
}

