page-reponse {
    *{
        margin: 0;
        padding: 0;
    }

    #bas{
        position: fixed;
        position: left;
        bottom:0px;
    }

    #wrapper-center{
        width: 50%;
    }

    #texte-confirmation{
        
        font-family: 'contb';
        text-align: center;
        color: #7f2729;
        font-size: 300%;
        font-weight: 900;
    }

    #texte-details{
        
        font-family: 'contb';
        text-align: center;
        color: #7f2729;
        margin-top: 5%;
        margin-bottom: 2%;
        font-size: 150%;
        font-weight: 900;
    }
    
    .button{
        background-color: #7f2729;
        color: white;
    }

    .langues{
        border-radius: 8px;
        background-color: #7f2729;
        padding: 7px;
        color: white;
        margin-left: 55%;
    }

    .continuer{
        
        margin-bottom: 10%;
    }
}
