
<ion-header>

  <ion-navbar>
    <ion-title>Libérez Alice</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1 id="texte-confirmation"><b>{{bonneOuMauvaise}}</b></h1>
    <h3 id="texte-details">{{detail}}</h3>
    <button class="continuer" ion-button full (click)="continuer()">Continuer</button>
</ion-content>
